<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">Crear Recibo
            <div *ngIf="loading" class="spinner-border float-end" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </h5>
        <form [formGroup]="form" (ngSubmit)="crearRecibos()">
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    <i class="fas fa-user-circle" [class.green-icon]="this.form.get('usuario')?.valid"
             [class.red-icon]="this.form.get('usuario')?.invalid && this.form.get('usuario')?.touched"></i>
                        
                </span>
                <input type="text" formControlName="usuario" class="form-control" placeholder="usuario">
            </div>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-receipt" [class.green-icon]="this.form.get('numeroderecibo')?.valid"
                    [class.red-icon]="this.form.get('numeroderecibo')?.invalid && this.form.get('numeroderecibo')?.touched"></i>
                </span>
                <input type="text" formControlName="numeroderecibo" class="form-control" maxlength="6"
                    placeholder="numero de recibo">
            </div>
            <div class="input-group input-group-lg mb-3">
                <!--linea que agregue-->
                <span class="input-group-text">
                    <i class="fa-solid fa-sack-dollar" [class.green-icon]="this.form.get('monto')?.valid"
                    [class.red-icon]="this.form.get('monto')?.invalid && this.form.get('monto')?.touched"></i>
                </span>
                <input type="text" formControlName="monto" class="form-control" maxlength="6" placeholder="monto">
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt"
                            [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                            [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"></i>

                        </span>
                        <input type="text" formControlName="fechaExpiracion" class="form-control" maxlength="5"
                            placeholder="MM/YY">
                    </div>

                </div>
                <div class="col-lg-5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-key"
                            [class.green-icon]="this.form.get('contraseña')?.valid"
                            [class.red-icon]="this.form.get('contraseña')?.invalid && this.form.get('contraseña')?.touched"></i>

                        </span>
                        <input type="password" formControlName="contraseña" class="form-control" maxlength="6"
                            placeholder="contraseña">
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button [disabled]="form.invalid" class="btn btn-success btn-lg" type="submit">
                        <i class="fas fa-database"></i> &nbsp;Aceptar
                    </button>

                </div>

            </div>
        </form>
    </div>
</div>